* {
  display: inline-block;
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  background-color: #fff;
  color: #333333;
  /*vertical-align: top;*/
  text-decoration: none;
}

.octocat {
  display: inline-block;
  width: 33%;
}

head {
  display: none;
}

body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #333333;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

ul.octodex img {
width: 90%;
height: auto;
border: 5px #94ACAA;
}

.img-footer {
  width: 100%;
  font-size: 9em;
  display: inline-block;

}
/* links for authors below */
.octocat li a {
  display: inline;
  width: 12%;
  height: 12%;
  float: right;
  margin-right: 60px;
}

/*image footer */

.image-number {
  width: 15%;
}

/* by line text*/
.image-caption a {
  width: auto,100%;
  padding-right: 0;

}

/*link and name of the octocat */
.image-caption span {
  font-weight: 200;
  color: gray;
}

.image-footer .image-number {
    float: left;
    margin: 5px 0;
    color: #cacaca;
    display: inline-block;
}


/*main pics*/
.octocat a img{
  border: 1px solid grey;
  margin-bottom: 20px;
  border-style: inset;
  }

  /* arrow */
.image-footer:before {
      content: "";A
      border-style: inset;
      display: block;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-top-color: #cacaca;
      position: relative;
      right: 7px;
      float: right;
      top: 0;
  }

.image-footer {
  border: none;
  display: inline-block;;
  border-bottom: 1px gray;
  vertical-align: middle;
}

/* author pic */
.authors {
  float: right;
  list-style: none;
  position: relative;
  padding-left: 0;
  border: none;
  display: inline-block;
  }

  .image-number:before {
    content: "#"
  }
